@import (reference) '../../variables';

.about {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: repeat(1, 1fr);
    align-items: center;
    align-self: center;
    min-height: 70vh;
    height: auto;

    &__content {
        display: flex;
    }
}
