@import (reference) '../../variables';

.button {
    display: flex;
    justify-content: center;
    height: 38px;
    padding: 0 30px;
    color: @snowflake;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    box-sizing: border-box;

    &--positive {
        background-color: @navy;
        border-color: @navy;
    }

    &--negative {
        background-color: @holland;
        border-color: @holland;
    }

    &--neutral {
        background-color: @metal;
        border-color: @metal;
    }
}
