@import (reference) '../../variables';

.button {
    display: flex;
    justify-content: center;
    color: @snowflake;
    padding: 6px 12px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;

    &--positive {
        background-color: @navy;
        border-color: @navy;
    }

    &--negative {
        background-color: @holland;
        border-color: @holland;
    }

    &--neutral {
        background-color: @metal;
        border-color: @metal;
    }
}
