.contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;
    min-height: 70vh;
    height: auto;

    &__details {

    }

    &__form {

    }
}
