@import (reference) '../../variables';

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    width: 100%;
    min-height: 100px;
    color: @snowflake;

    &__back {
        position: absolute;
        opacity: 0;
        font-size: 60px;
    }

    &__front {
        position: absolute;
        opacity: 1;
        font-size: 30px;
        text-align: center;
    }

    &__content {
        border-top: 1px solid @snowflake;
        padding-top: 10px;
    }

    &__title {
        padding-bottom: 10px;
    }

    &:hover {
        transition: opacity ease-in 200ms;
    }

    &:hover &__back {
        opacity: 1;
    }

    &:hover &__front {
        opacity: 0;
    }

    &.orange {
        background-color: @holland;
    }

    &.green {
        background-color: @bean;
    }

    &.blue {
        background-color: @navy;
    }
}
