@import '../../variables';

.tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    color: @snowflake;

    &.orange {
        background-color: @holland;
    }

    &.green {
        background-color: @bean;
    }

    &.blue {
        background-color: @navy;
    }
}
