html, body {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

#app {
    .home, .hello {
        display: flex;
        min-height: 100vh;
        flex-direction: column;

        &__tiles-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: minmax(300px, auto);
        }
    }
}
