@import (reference) '../variables';

html, body {
    font-family: 'Open Sans', sans-serif;

    height: 100%;
    margin: 0;
    color: @metal;
    font-size: 16px;
}

h1 {
    font-family: 'Julius Sans One', sans-serif;
}

.home__tiles-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(300px, auto);
}
