@import (reference) '../variables';

html, body {
    font-family: @font;
    font-size: @font-base-size;
    color: @metal;
    height: 100%;
    margin: 0;
}

h1 {
    font-family: @font-decorated;
    font-size: @font-wast-size;
    color: @metal;
}
