@import (reference) './../../variables';

.header {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: minmax(10vh, auto);
    align-items: center;
    color: @metal;
    background-color: @snowflake;

    &__logo {
        font-size: 20px;
    }

    &__navbar {
        display: grid;
        justify-self: end;
    }

    &__locale {
        display: flex;
        justify-content: center;
    }
}
