@import (reference) '../../variables';

.navbar {

    &__list {
        display: flex;
        list-style: none;
    }

    &__item {

        a {
            text-decoration: none;
            padding: 10px;
            background-color: transparent;
            color: @metal;
            text-transform: uppercase;

            &:hover {
                background-color: @holland;
                color: @snowflake;
            }
        }
    }

    &--home {

        a {
            text-decoration: none;
            padding: 10px;
            background-color: @navy;
            color: @snowflake;
            text-transform: uppercase;

            &:hover {
                background-color: transparent;
                color: @snowflake;
                text-decoration: underline;
            }
        }
    }
}
