@import (reference) './../../variables';

.footer {
    color: @snowflake;
    background-color: @metal;
    padding: 0 20px;

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(20vh, auto);
        align-items: center;
        max-width: 1200px;
        margin: auto;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__social {
        display: flex;
        justify-content: flex-end;
    }
}
