html, body {
    font-family: 'Montserrat', sans-serif;
}

#app {
    .home {
        display: flex;
        flex-direction: column;

        &__tiles-wrapper {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: minmax(300px, auto);
        }
    }
}
