@navy: #1154af;
@holland: #ea6b38;
@metal: #72879e;
@bean: #9bb111;
@snowflake: #fff;

@facebook: #3b5998;
@linkedin: #0077B5;

@font: 'Merriweather Sans', sans-serif;
@font-decorated: 'Julius Sans One', sans-serif;

@font-base-size: 16px;
@font-wast-size: 30px;


